.control_panel{
  width: 300px;
  height: 70px;
  background-color: rgb(202, 202, 202);
  opacity: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left:0
}
.control_panel:hover{
  opacity: .9;
}
.contol_buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contol_buttons button{
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.arena{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 253, 213);
  /* display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around; */
  position: absolute;
  overflow: hidden;
}

.food_item{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

.bacteria{
  position: absolute;
  width: 50px;
  height: 25px;
  background-color: rgb(115, 255, 0);
  border-radius: 50%;
  transform-origin: top left;
  transition: transform .2s linear;
}
.bacteria::after{
  position: absolute;
  top: 14%;
  left: -4%;
  content: "";
  width: 11px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
  transform: rotate(10deg);
}

